.users__buttons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    border: #3d3b3b 2px solid;
    border-radius: 5px;
}

.users__button {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.users__offline {
    border: #3d3b3b 2px solid;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin: 20px 10px 0;
}

.users__header {
    height: 100px;
    background-color: rgb(148, 143, 143);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 36px;
  }