.user {
  display: flex;
  margin-bottom: 10px;
  height: 100px;
}

.user__avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user__description {
  margin-left: 15px;
  text-align: start;
}
